doctype html
html
  head
    meta(charset='UTF-8')
    title Nyondo Admin Dashboard

    link(rel='stylesheet' href='/css/admindash.css')

    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css'
    )

  body

    .sidebar

      .logo
        h2 ⚒ NYONDO HARDWARE

      ul.nav

        li.active
          a(href='admindash')
            i.fas.fa-chart-line
            |   Dashboard

        li
          a(href='deposit')
            i.fas.fa-boxes
            |   Deposits

        li
          a(href='Supplier')
            i.fas.fa-cash-register
            |   Suppliers

        li
          a(href='regicredit')
            i.fas.fa-piggy-bank
            |   Deposits

        li
          a(href='logout')
            i.fas.fa-sign-out-alt
            |   Logout

    .main

      .topbar

        h1 Admin Dashboard

        .profile
          i.fas.fa-user-circle
          span Admin

      .cards

        .card
          h3 Stock Expenditure
          p #{stats.inventoryValue.toLocaleString()} UGX
          small Value of store items

        .card.success
          h3 Total Sales Revenue
          p #{stats.salesRevenue.toLocaleString()} UGX
          small Completed sales

        .card.info
          h3 Deposits Collected
          p #{stats.depositsCollected.toLocaleString()} UGX
          small Cash from scheme

        .card.warn
          h3 Pending Balances
          p #{stats.pendingBalance.toLocaleString()} UGX
          small Total customer debt

      .section

        h2 Quick Actions

        .actions

          a.btn(href='addstock')
            i.fas.fa-plus-circle
            |   Add Stock

          a.btn(href='newsale')
            i.fas.fa-cash-register
            |   Record Sale

          a.btn(href='/reports')
            i.fas.fa-chart-pie
            |   Generate Report

          a.btn(href='regicredit')
            i.fas.fa-user-plus
            |   Register Credit Customer

      .section

        h2 User Management

        a.btn(href='register')
          i.fas.fa-user-plus
          |            Add User

        table
          thead
            tr
              th Name
              th Role
              th Phone
              th Actions
          tbody
            if dbusers && dbusers.length > 0
              each user in dbusers
                tr
                  td #{user.fullname}
                  td #{user.role}
                  td #{user.phone}
                  td
                    // Edit Link
                    a(
                      href=`/user/update/${user._id}`
                      style="color: #007bff; margin-right: 15px;"
                      title="Edit User"
                    )
                      i.fas.fa-edit

                    // Delete Form
                    form(
                      method="POST"
                      action=`/user/delete/${user._id}`
                      style="display:inline;"
                      onsubmit="return confirm('Are you sure you want to delete this user?')"
                    )
                      button(
                        type="submit"
                        style="background: none; border: none; color: #dc3545; cursor: pointer; padding: 0;"
                      )
                        i.fas.fa-trash
            else
              tr
                td(colspan="4" style="text-align:center")
                  | No users found in database.