doctype html
html
  head
    meta(charset='UTF-8')
    title Inventory - Nyondo Hardware
    link(rel='stylesheet' href='/css/invento.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')

  body
    // SIDEBAR
    .sidebar
      .logo
        h2 &#x2692; NYONDO HARDWARE
      ul
        li
          a(href='/dashboard')
            i.fas.fa-home
            | Dashboard
        li.active
          a(href='/inventory')
            i.fas.fa-boxes
            | Inventory
        li
          a(href='/sales')
            i.fas.fa-cash-register
            | Sales
        li
          a(href='/stock')
            i.fas.fa-plus-circle
            | Add Stock
        li
          a(href='/reports')
            i.fas.fa-chart-line
            | Reports

    // MAIN
    .main
      .header
        h1
          i.fas.fa-boxes
          | Inventory Overview
        .actions
          button.btn
            i.fas.fa-plus
            | Add Stock
          button.btn.secondary
            i.fas.fa-file-export
            | Export

      // SUMMARY CARDS
      .cards
        .card
          i.fas.fa-cubes
          div
            h3 Total Products
            p 120
        .card.warn
          i.fas.fa-exclamation-triangle
          div
            h3 Low Stock
            p 8
        .card.danger
          i.fas.fa-times-circle
          div
            h3 Out of Stock
            p 3
        .card.success
          i.fas.fa-coins
          div
            h3 Total Value
            p UGX 45M

      // SEARCH
      .search-bar
        input(type='text' placeholder='Search product...')
        select
          option All
          option Low Stock
          option Out of Stock
          option In Stock

      // TABLE
      .table-section
        table
          thead
            tr
              th Product Name
              th Category
              th Quantity
              th Buying Price
              th Selling Price
              th Supplier Name
              th Supplier Contact
              th Date
              th Status
              th Actions
          tbody
            if dbStock.length === 0
              tr
                td(colspan='10') No stock available
            each sale in dbStock
              tr
                td #{sale.productName}
                td #{sale.category}
                td #{sale.quantity}
                td #{sale.buyingPrice}
                td #{sale.sellingPrice}
                td #{sale.supplierName}
                td #{sale.supplierContact}
                td #{new Date(sale.deliveryDate).toLocaleString()}
                td #{sale.status}
                td #{sale.actions}
