doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Nyondo Hardware Receipt
    link(rel='stylesheet' href='/css/receipt.css')
  body
    .receipt-container
      .hardware-header
      .card.shadow.border-0.rounded-0
          .card-body.p-4 
            .text-center.mb-4
              h4.fw-bold.mb-1 NYONDO GENERAL HARDWARE
              p Nansana, Wakiso District - Katooke Road
              p Tel: 0721-234567 | 0772-987654
              small Date: #{new Date(sale.date).toLocaleString()}
              br
              //-  using the last six characters of the mongo db id as a short receipt number
              small Receipts #:#{sale._id.toString().slice(-6).toUpperCase()}
            hr.border-dark.border-2.opacity-100
            .d-flex.justify-content-between.mb-2 
              span.fw-bold Description
            
            
            hr.border-dark.opacity-100
            d-flex.justify-content-between.mb-1 
              span Item Name :
              span #{sale.productName.productName} 
            hr.border-dark.opacity-100
            .d-flex.justify-content-between.mb-1 
              span Qty :
              span #{sale.quantity} (units)
            
            .d-flex.justify-content-between.mb-1 
              span Transport Charge :
              span #{sale.transportFee.toLocaleString()} UGX 
            hr.border-dark.opacity-100
            .d-flex.justify-content-between.mb-1 
              span Total Cost(Products) :
              span #{(sale.totalAmount).toLocaleString()} UGX
            hr.border-dark.opacity-100
            .d-flex.justify-content-between.mb-1 
              span Total Charge :
              span #{(sale.totalAmount + sale.transportFee).toLocaleString()} UGX
            hr.border-dark.border-2.opacity-100
            .text-center.mt-4 
              p.mb-0.small Served by: #{sale.attendant.fullname}
              p.mb-0.fw-bold Thanks For Shopping With 
              p.mb-0.small.text-muted Goods ounce sold are not returnable 
      .text-center.mt-4.d-print-none 
        button.btn.btn-primary.me-2(onclick='window.print()')
          i.fas.fa-print.me-1 
          | Print Receipt 
        a.btn.btn-outline-secondary(href='/newsale') View Sales
