doctype html
html
  head
    meta(charset='UTF-8')
    title Sales Page - Nyondo Hardware
    link(rel='stylesheet' href='/css/storsales.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')

  body
    .sidebar
      .logo
        h3 ⚒ NYONDO HARDWARE

      ul
        li
          a(href='storedash')
            i.fas.fa-home
            |  Dashboard

        li
          a(href='invento')
            i.fas.fa-boxes
            |  Inventory

        li.active
          a(href='storsales')
            i.fas.fa-cash-register
            |  Sales

        li
          a(href='addstock')
            i.fas.fa-plus-circle
            |  Add Stock

        li
          a(href='logout')
            i.fas.fa-sign-out-alt
            |  Reports

    .main
      .header
        h1
          i.fas.fa-chart-bar
          |  Sales Overview

      // CARDS
      .cards

        .card
          .card-content
            i.fas.fa-coins

            div
              h3 Sales Revenue
              p #{stats.salesRevenue.toLocaleString()} UGX

        .card
          .card-content
            i.fas.fa-shopping-cart

            div
              h3 Items Sold
              p #{stats.itemsSold.toLocaleString()}

        .card
          .card-content
            i.fas.fa-chart-line

            div
              h3 Profit
              p UGX 350,000

      // TABLE
      .table-section

        .table-header
          h2
            i.fas.fa-receipt
            |  Recent Sales

          input(type='text' placeholder='Search sales...')

        table
          thead
            tr
              th Date
              th Product Name
              th Quantity
              th Price (UGX)
              th Total (UGX)
              th Attendant

          tbody
            each sale in dbSales
              tr
                td #{new Date(sale.date).toLocaleString()}

                // Reach inside multi-item array for Product Name
                td
                  each item in sale.items
                    div #{item.productName ? item.productName.productName : 'Item deleted'}

                // Reach inside multi-item array for Quantities
                td
                  each item in sale.items
                    div #{item.quantity}

                // Reach inside multi-item array for Price values
                td
                  each item in sale.items
                    div #{item.price ? item.price.toLocaleString() : '0'}

                // Accurate complete collection money (Products + Transport)
                td #{(sale.totalAmount + (sale.transportFee || 0)).toLocaleString()}
                
                td #{sale.attendant ? sale.attendant.fullname : 'unknown'}

                