doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Nyondo Stock Dashboard

    link(rel='stylesheet' href='/css/storedash.css')

    // Font Awesome
    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css'
    )

  body

    // ================= SIDEBAR =================
    .sidebar

      .logo
        h3 ⚒ NYONDO HARDWARE

      ul

        li.active
          a(href='storedash')
            i.fas.fa-home
            |  Dashboard

        li
          a(href='invento')
            i.fas.fa-boxes
            |  Inventory

        li
          a(href='addstock')
            i.fas.fa-plus-circle
            |  Add Stock

        li
          a(href='storsales')
            i.fas.fa-cash-register
            |  Sales

        li
          a(href='/history')
            i.fas.fa-history
            |  Stock History

        li
          a(href='logout')
            i.fas.fa-sign-out-alt
            |  LogOut

    // ================= MAIN CONTENT =================
    .main

      // TOPBAR
      .topbar

        .search
          i.fas.fa-search
          input(type='text' placeholder='Search products...')

        .icons
          i.fas.fa-bell
          i.fas.fa-user-circle

      h2 Store Manager Dashboard

      // ================= CARDS =================
      .cards

        .card
          i.fas.fa-box.icon.blue
          .card-info
            h4 Total Products
            p #{stats.totalproducts.toLocaleString()}

        .card
          i.fas.fa-exclamation-triangle.icon.orange
          .card-info
            h4 Low Stock
            p #{stats.lowStock.toLocaleString()}

        .card
          i.fas.fa-money-bill-wave.icon.green
          .card-info
            h4 Enough Stock
            p #{stats.EnougthStock.toLocaleString()}

        .card
          i.fas.fa-chart-line.icon.purple
          .card-info
            h4 Inventory Value
            p #{stats.inventoryValue.toLocaleString()} UGX

      h3.table-title Inventory Overview
      .grid

        table.styled-table

          thead
            tr
              th Product Name
              th Image
              th Buying Price
              th Selling Price
              th Quantity
              th Date
              th Status

          tbody

            if dbStock.length === 0
              tr
                td(colspan='7') No stock available

            else
              each stock in dbStock
                tr

                  td #{stock.productName}

                  td
                    if stock.itemImage
                      img(
                        src='/' + stock.itemImage
                        alt='image'
                        width='50'
                        height='50'
                      )
                    else
                      span no image

                  td #{stock.buyingPrice}

                  td #{stock.sellingPrice}

                  td #{stock.quantity}

                  td #{new Date(stock.deliveryDate).toLocaleString()}

                  td
                    if stock.quantity <= 10
                      span.status.low Low Stock
                    else
                      span.status.good Enough Stock